
body {
background-image : url("https://static.pexels.com/photos/113338/pexels-photo-113338.jpeg");
background-size : 100% 100%;
background-repeat : no-repeat;
}

h1 {
font-size : 40px;
color : white;
text-decoration : underline;
font-weight : bold;
text-align : center;
padding : 20px;
}

p {
padding-top : 60px;
text-align: center;
font-size : 25px;
}

a:link {
color: white;
text-decoration : none;
}

a:visited {
color : white;
text-decoration : none;
}

a:hover {
color : #00ffff;
text-decoration : underline;
}

a:active {
color : white;
}
